openapi: 3.0.3
info:
  title: SIGAA
  description: |-
    API para acesso a funcionalidades do SIGAA.
    Alunos: Enzo Crisóstomo Nogueira - 190086751, Heitor Magalhaes Vieira - 180121821  e Júlia Ramos Rodrigues - 200058703
  termsOfService: http://sid.redes.unb.br/SIGAA/termos
  contact:
    email: enzo.crisostomo2000@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.3'
servers:
  - url: http://sid.redes.unb.br/SIGAA/api/matriculasigaa
  - url: http://localhost:3333/SIGAA/api/matriculasigaa
tags:
  - name: Docs
    description: Documentação da API
  - name: Aluno
    description: Aluno de graduação da Universidade de Brasília
  - name: Curso
    description: Curso de graduação da Universidade de Brasília
  - name: Disciplina
    description: Disciplina de graduação da Universidade de Brasília
  - name: Histórico Acadêmico
    description: Histórico acadêmico do aluno de graduação da Universidade de Brasília
  - name: Matrícula
    description: Matrícula de um aluno em uma turma, para um período letivo
  - name: Turma
    description: Turma de disciplina de graduação da Universidade de Brasília
paths:
  /Docs:
    $ref: './paths/docs.yaml#/~1Docs'
  /Aluno:
    $ref: './paths/aluno.yaml#/~1Aluno'
  /Aluno/{matricula}:
    $ref: './paths/aluno.yaml#/~1Aluno~1{matricula}'
  /Curso:
    $ref: './paths/curso.yaml#/~1Curso'
  /Curso/{id}:
    $ref: './paths/curso.yaml#/~1Curso~1{id}'
  /Curso/{id}/EstruturaCurricular:
    $ref: './paths/curso.yaml#/~1Curso~1{id}~1EstruturaCurricular'
  /Curso/{id}/EstruturaCurricular/{curriculo}:
    $ref: './paths/curso.yaml#/~1Curso~1{id}~1EstruturaCurricular~1{curriculo}'
  /Curso/{id}/EstruturaCurricular/{curriculo}/disciplina:
    $ref: './paths/curso.yaml#/~1Curso~1{id}~1EstruturaCurricular~1{curriculo}~1disciplina'
  /Disciplina:
    $ref: './paths/disciplina.yaml#/~1Disciplina'
  /Disciplina/{id}:
    $ref: './paths/disciplina.yaml#/~1Disciplina~1{id}'
  /HistoricoAcademico/{id}:
    $ref: './paths/historico-academico.yaml#/~1HistoricoAcademico~1{id}'
  /HistoricoAcademico/{id}/disciplina/{disciplina}/$preRequisitos:
    $ref: './paths/historico-academico.yaml#/~1HistoricoAcademico~1{id}~1disciplina~1{disciplina}~1$preRequisitos'
  /HistoricoAcademico/{id}/disciplina/{disciplina}/$matriculaElegivel:
    $ref: './paths/historico-academico.yaml#/~1HistoricoAcademico~1{id}~1disciplina~1{disciplina}~1$matriculaElegivel'
  /Matricula:
    $ref: './paths/matricula.yaml#/~1Matricula'
  /Matricula/{id}:
    $ref: './paths/matricula.yaml#/~1Matricula~1{id}'
  /Turma:
    $ref: './paths/turma.yaml#/~1Turma'
  /Turma/{id}:
    $ref: './paths/turma.yaml#/~1Turma~1{id}'

components:
  schemas:
      Aluno:
        $ref: './schemas/aluno.yaml#/Aluno'
      AlunoShort:
        $ref: './schemas/aluno.yaml#/AlunoShort'
      AlunoSearchSet:
        $ref: './schemas/aluno.yaml#/AlunoSearchSet'
      Curso:
        $ref: './schemas/curso.yaml#/Curso'
      CursoShort:
        $ref: './schemas/curso.yaml#/CursoShort'
      CursoSearchSet:
        $ref: './schemas/curso.yaml#/CursoSearchSet'
      Disciplina:
        $ref: './schemas/disciplina.yaml#/Disciplina'
      DisciplinaShort:
        $ref: './schemas/disciplina.yaml#/DisciplinaShort'
      DisciplinaSearchSet:
        $ref: './schemas/disciplina.yaml#/DisciplinaSearchSet'
      DisciplinaEstruturaCurricular:
        $ref: './schemas/disciplina.yaml#/DisciplinaEstruturaCurricular'
      DisciplinaHistoricoAcademico:
        $ref: './schemas/disciplina.yaml#/DisciplinaHistoricoAcademico'
      EstruturaCurricular:
        $ref: './schemas/estrutura-curricular.yaml#/EstruturaCurricular'
      EstruturaCurricularShort:
        $ref: './schemas/estrutura-curricular.yaml#/EstruturaCurricularShort'
      EstruturaCurricularSearchSet:
        $ref: './schemas/estrutura-curricular.yaml#/EstruturaCurricularSearchSet'
      HistoricoAcademico:
        $ref: './schemas/historico-academico.yaml#/HistoricoAcademico'
      Matricula:
        $ref: './schemas/matricula.yaml#/Matricula'
      MatriculaShort:
        $ref: './schemas/matricula.yaml#/MatriculaShort'
      MatriculaSearchSet:
        $ref: './schemas/matricula.yaml#/MatriculaSearchSet'
      PeriodoLetivo:
        $ref: './schemas/periodo-letivo.yaml#/PeriodoLetivo'
      Turma:
        $ref: './schemas/turma.yaml#/Turma'
      TurmaShort:
        $ref: './schemas/turma.yaml#/TurmaShort'
      TurmaSearchSet:
        $ref: './schemas/turma.yaml#/TurmaSearchSet'
      Unidade:
        $ref: './schemas/unidade.yaml#/Unidade'
